body {
  background-color: whitesmoke;
  color: white;
  font-family: Arial, sans-serif;
  width: 500px;
}
div{
  display: block;
}

.logo{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: relative;
  top: 15px;
  left: 380px;
}
.prev{
  width: 283px;
  height: 504px;
  opacity: 1;
  transition: 0.3s ease;
}
.prev:hover{
  opacity: 0.8;
}
.font{
  width: 415px;
  height: 96px;
  position: absolute;
  top: 100px;
  left: 600px;
}
.font2{
  width: 518px;
  height: 116px;
  position: absolute;
  top: 450px;
  left: 455px;
}
.font3{
  width: 518px;
  height: 116px;
  position: absolute;
  top: 2955px;
  left: 430px;
}
.samb{
  position: relative;
  top: -250px;
  left: 1010px;
  width: 375px;
  height: 368px;
}
.img2{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
  top: -40px;
  left: 900px;
  display: inline-block;
}
.img3{
  width: 310px;
  height: 255px;
  position: relative;
  top: 20px;
  left: 1100px;
}
.img4{
  width: 566px;
  height: 440px;
  position: relative;
  top: -190px;
  left: 390px;
}
.img5{
  width: 300px;
  height: 300px;
  position: relative;
  top: -100px;
  left: 1100px;
}
.img6{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
  top: 10px;
  left: 830px;
  display: inline-block;
  padding: 2px;
}
.img7{
  width: 566px;
  height: 566px;
  position: relative;
  top: -450px;
  left: 390px;
}
.text3{
  position: relative;
  top: -325px;
  left: 670px;
  font-size: 22px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
}
.abt{
  font-weight: 500;
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  position: relative;
  top: -220px;
  left: 390px;
}
.display{
  width: 458px;
  height: 360px;
  position: absolute;
  top: 400px;
  left: 900px;
}
.featvid{
  font-size: smaller;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  background-color: rgb(231, 231, 231);
  position: relative;
  top: 700px;
  left: 0px;
  padding-top: 150px;
  padding-bottom: 450px;
  padding-left: 1100px;
  width: 540px;
  min-width: 100px;
}
.promo{
  font-size: smaller;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  background-color: rgb(231, 231, 231);
  position: relative;
  top: 250px;
  left: 0px;
  padding-top: 150px;
  padding-bottom: 450px;
  padding-left: 1100px;
  width: 540px;
  min-width: 100px;
}
.teaser{
  position: relative;
  top: 130px; 
  left: 450px;
}
.text0{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  color: black;
  top: -300px; 
  left: 1050px;
  font-size: smaller;
}
.text1{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  position: relative;
  color: black;
  top: -290px; 
  left: 969px;
}
.text2{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  text-align: center;
  position: relative;
  color: black;
  top: -465px; 
  left: 430px;
}
.header {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  min-width: 1600px;
}
.menu {
  background-color: white;
}
nav{
  margin-left: 300px;
}
nav ul {
  list-style: none;
  padding: 2;
  margin: 1;
  width: max-content;
}

nav ul li {
  display: inline;
}

nav ul li a{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 15px;
  font-size: large;
}

nav ul li a:hover{
  color: #fbda00;
  font-weight: bold;
}
table{
  position: absolute;
  left: 300px;
}
.table2{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  color: black;
  top: -220px;
  left: 450px;
}
.table3{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  color: black;
  top: -452px;
  left: 650px;
}
.fontfoot{
  width: 298px;
  height: 68px;
  position: relative;
  top: -560px;
  left: 950px;
}
.copy{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  font-size: 13px;
  position: relative;
  top: -565px;
  left: 965px;
}
table, th, td {
  border:none;
  padding: 40px;
  color: black;
  text-align: center;
  font-size: large;
  min-width: 60%;
  max-width: 60%;
}
.prevtab{
  position: relative;
  top: 200px;
  left: 250px;
}
.hari30{
  font-size: 30px; 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative; 
  left: 765px; 
  top: 50px; 
  color: black;
  background-color: whitesmoke;
}
.hari302{
  font-size: 30px; 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative; 
  left: 720px; 
  top: 245px; 
  color: black;
  background-color: whitesmoke;
}
.btn{
  border-style: solid;
  background-color: whitesmoke;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  position: relative;
  left: 780px;
  top: 150px;
  text-align: center;
  font-size: 15px;
  width: 120px;
  padding: 9px;
  transition: 0.3s ease;
}
.btn:hover {
  background-color: black;
  color: white;
}
.btn2{
  border-style: solid;
  background-color: rgb(231, 231, 231);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  position: relative;
  top: -445px; 
  left: 620px;
  text-align: center;
  font-size: 15px;
  width: 120px;
  padding: 9px;
  transition: 0.3s ease;
}
.btn2:hover {
  background-color: black;
  color: white;
}
.login{
  font-weight: bold;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.loginForm{
  position: relative;
  top: 100px;
  left: 400px;
}
.loginheader{
  position: relative;
  top: 100px;
  left: -200px;
}
.lineleft {
  position: relative;
  width: 70%;
  height: 2px;
  background-color: black;
  left: 330px;
  top: 267px;
}
.lineright {
  position: relative;
  width: 70%;
  height: 2px;
  background-color: black;
  left: 998px;
  top: 227px;
}
.lineleft2 {
  position: relative;
  width: 70%;
  height: 2px;
  background-color: black;
  left: 370px;
  top: 70px;
}
.lineright2 {
  position: relative;
  width: 70%;
  height: 2px;
  background-color: black;
  left: 1040px;
  top: 30px;
}
.descabt{
  position: relative;
  top: -480px;
  left: 390px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 22px;
  color: black;
}
.abtme{
  text-align: center;
  position: relative;
  top: -1650px;
  left: 1000px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color: black;
}
.abtsamb{
  position: relative;
  top: -1250px;
  left: 1150px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 19px;
  color: black;
}
.container {
  width: 300px;
  height: 300px;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  position: relative;
  top: -500px;
  left: 750px;
}
.image-description{
  text-align: center;
  position: relative;
  top: 170px;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Styling for the images */
.image {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 40px 52px;
  background-size: cover;
  transition: transform 0.1s ease-in-out; /* Added transition */
}

/* Styling for the navigation buttons */
.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.nav-btn-left {
  left: 10px;
}

.nav-btn-right {
  right: 10px;
}
.abtme2{
  text-align: center;
  position: relative;
  top: 240px;
  left: 430px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color: black;
}

@media only screen and (max-width:400px) {
  body {
    background-color: whitesmoke;
    color: white;
    font-family: Arial, sans-serif;
  }
  .font3{
    width: 518px;
    height: 116px;
    position: absolute;
    top: 2985px;
    left: 430px;
  }
  .text2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    text-align: center;
    position: relative;
    color: black;
    top: -465px; 
    left: 140px;
  }
  .logo{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
    top: 15px;
    left: 80px;
  }
  .font{
    width: 415px;
    height: 96px;
    position: absolute;
    top: 100px;
    left: 350px;
  }
  .font2{
    width: 518px;
    height: 116px;
    position: absolute;
    top: 450px;
    left: 20px;
  }
  .header {
    background-color: rgb(0, 0, 0);
    padding: 20px;
  }
  nav ul li a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 15px;
    font-size: large;
    position: relative;
    left: -300px;
  }
  .display{
    width: 458px;
    height: 360px;
    position: absolute;
    top: 400px;
    left: 400px;
  }
  .teaser{
    position: relative;
    top: 130px; 
    left: 10px;
  }
  .text0{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    color: black;
    top: -300px; 
    left: 525px;
    font-size: smaller;
  }
  .text1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    position: relative;
    color: black;
    top: -290px; 
    left: 450px;
  }
  .table2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    color: black;
    top: -220px;
    left: 450px;
  }
  .table3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    color: black;
    top: -509px;
    left: 750px;
  }
  .fontfoot{
    width: 298px;
    height: 68px;
    position: relative;
    top: -720px;
    left: 950px;
  }
}

